.header{
    background: #FFE600;
    position: relative;
}

.tittle {
    color: #2D3277;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    height: 100px;
    display: block;
    text-align: center;
    padding-top: 25px;
}

.logo {
    width: 200px;
    position: absolute;
    padding-top: 25px;
    padding-left: 20px;
    justify-content: center;
    align-items: center;
}